.pl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pl-title {
    font-size: 50px;
    font-weight: 600;
}

.pl-desc {
    width: 60%;
    margin: 20px auto;
    
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .pl {
        padding: 10px;
    }

    .pl-desc {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .pl {
        padding: 10px;
    }

    .pl-desc {
        display: none;
    }
}